.tokenDetails{
    text-align: initial;
    margin: 0% 2% 0% 0%;
    .tokenTable{
        border: solid 1px;
        border-top-right-radius: 7px;
        border-top-left-radius: 7px;
        border-bottom: none;
    }
    .eachRow{
        display: flex;
        padding: 8px 12px;
        font-size: 14px;
        border-bottom: solid 1px;
        .label{
            flex: 0.3;
            font-weight: bold;
        }
        .values{
            flex: 0.7;
            word-break: break-word;
        }
    }
    .sendButton{
        margin-top: 1px;
        border: solid 1px;
        letter-spacing: 3px;
        font-weight: 600;
        color: #ffffff;
        width: 100%;
        padding: 1%;
        border-bottom-right-radius: 7px;
        border-bottom-left-radius: 7px;
        background: linear-gradient(259.61deg, #D61BFE 0%, #7175FF 50.81%, #78EFFF 100.57%);
    }
}

